@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .app {
    background: lightslategray;
  }

  .card {
    display: grid;
    grid-template-rows: 1fr 1fr 6fr 1fr;
    background-color: lightgray;
    height: 200px;
    margin: 20px 30px;
    border-radius: 10px;
  }
  
  .tag {
    display: flex;
    align-items: center;
    line-height: 1rem;
    font-size: 1rem;
  }

  .phantomList{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }


  /* React POPUP Menu */
  .menu {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
  }
  .menu-item {
    cursor: pointer;
    padding: 5px;
    height: 28px;
    border-bottom: 1px solid rgb(187, 187, 187);
    color: white;
  }
  .menu-item:hover {
    color: white;
  }

  /* React POPUP Modal */
  .modal {
    background-color: green;
    padding: 20px 30px;
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
}