@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .app {
    background: lightslategray;
  }

  .card {
    display: grid;
    grid-template-rows: 1fr 1fr 6fr 1fr;
    background-color: white;
    height: 200px;
  }
  
  .tag {
    display: flex;
    align-items: center;
    line-height: 1rem;
    font-size: 1rem;
  }

  .phantomList{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  /* React POPUP */
  .menu {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: grey;
  }
  .menu-item {
    cursor: pointer;
    padding: 5px;
    height: 28px;
    border-bottom: 1px solid rgb(187, 187, 187);
    color: white;
  }
  .menu-item:hover {
    color: white;
  }
}